<div class="left-content">
	<form class="navbar-form" id="search-form" onsubmit="return false;">
		<input type="text" name="query" placeholder="Search item" class="span3" required autocomple="off" id="query">
		<input type="submit" value="Search" id="search-btn" class="btn">
	</form>
	<div class="search-container" id="search-container">
		<% if(data.left_content.length!=0 ||data.left_content!=null ){ data.left_content.forEach(function(item){ %>
			<a href="/result/item/?item_id=<%= item._id%>">
				<ul class="clearfix">
					<li>
						<img src="/images/photo/<%= user_sess.photo %>" width="80" height="30">
						<div class="list-username"><b>-<%= item.username %>-</b></div>
					</li>
					<li class="search-items">
						<div class="list-item-name"><%= item.itemname %></div>
						<div class="list-sale-type"><span class="sale-type-small"><%= item.sale_type %> </span></div>
						<div class="list-location"><%= item.location %></div>
						<div class="list-price"><span class="price-range-small"><%= item.price_range %></span></div>
					</li>
				</ul>	
			</a>
		<%});} else { %>
		 <p>No Results </p>
		<%} %>
	</div>
<div>